@page "/virtualmachine/{Id:int}"
@attribute [Authorize]


@if (!Initialized)
{
    <p>Even geduld...</p>
}
else if (Virtualmachine.Id == -1)
{
    <p>Je hebt een verkeerde Id meegegeven. Of deze VM werd niet teruggevonden.</p>
}
else
{
    <h1>@Virtualmachine.Name</h1>
    <div class="details">
        <div class="details-container">
            <h3>Algemeen</h3>
            <div class="details-opties">
                <p>Naam: @Virtualmachine.Name</p>
                <p>ID: @Virtualmachine.Id</p>
                <p>Operatingsystem: @Virtualmachine.OperatingSystem</p>
                <p>Mode: @Virtualmachine.Mode.ToString().ToLower()</p>
            </div>
        </div>
        <div class="details-container">
            <h3>Back Up</h3>
            <div class="details-opties">
                <p>Backup Type: @Virtualmachine.BackUp.Type.ToString().ToLower()</p>
                <p>Laatste Backup: @Virtualmachine.BackUp.LastBackup.ToString()</p>
            </div>
        </div>
        <div class="details-container">
            <h3>VM Periode</h3>
            <div class="details-opties">
                <p>ID: @Virtualmachine.Contract.Id</p>
                <p>Datum start: @Virtualmachine.Contract.StartDate.ToString()</p>
                <p>Datum einde: @Virtualmachine.Contract.EndDate.ToString()</p>
            </div>
        </div>
        <div class="details-container">
            <h3>Hardware</h3>
            <div class="details-opties">
                <p>Memory: @(Virtualmachine.Hardware.Memory > 1000? (Virtualmachine.Hardware.Memory / 1000.0).ToString() + " GB" : " MB") </p>
                <p>Aantal Cores: @Virtualmachine.Hardware.Amount_vCPU</p>
                <p>Storage: @(Virtualmachine.Hardware.Storage > 1000? (Virtualmachine.Hardware.Storage / 1000.0).ToString() + " GB" : " MB")</p>
             </div>
        </div>
        <div class="details-container">
            <h3>Connectie</h3>
            <div class="details-opties">
                @if(Virtualmachine.VMConnection is null){
                    <p>Wachtend op goedkeuring.</p>
                }else{
                    <p>Server Adres: @Virtualmachine.VMConnection.FQDN</p>
                    <p>IP-adress: @Virtualmachine.VMConnection.Hostname</p>
                    <p>Username: @Virtualmachine.VMConnection.Username</p>
                    <p>Wachtwoord: @Virtualmachine.VMConnection.Password</p>
                }

                <br>
            </div>
        </div>

            </div>
            <div>
                <a @onclick="NavigateToKlant">Naar Klant</a>
            </div>



 }
