@page "/rapportage"

@attribute [Authorize("AdminOnly")]

@if (Servers is null)
{
    <p>Loading ...</p>
}
else
{
    <h1>Fysieke Servers</h1>
    <div class="columns is-desktop is-multiline">
        @foreach (var server in Servers)
        {
            <div class="column is-one-third-widescreen is-half-desktop">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@server.Name</h3>
                        <button class="btn btn-sm" type="button" @onclick="() => RedirectToDetailsPage(server.Id)"></button>
                    </div>
                    <div class="card-body">
                        <p>Aantal vCPU's:' @server.Hardware.Amount_vCPU</p>
                        <p>Vrije vCPU's: @server.HardWareAvailable.Amount_vCPU</p>
                        <p>Totale opslag: @server.Hardware.Storage</p>
                        <p>Vrije opslag: @server.HardWareAvailable.Storage</p>
                        <p>Totale vRAM: @server.Hardware.Memory</p>
                        <p>Serveraddress: @server.ServerAddress</p>
                    </div>
                </div>
            </div>

        }
   </div>

}

