<EditForm Model="@model" OnValidSubmit="@EditKlant">
    <DataAnnotationsValidator/>
    <ValidationSummary />
        <div>
            <label class="label">Voornaam: </label>
        <InputText class="input" @bind-Value="@model.FirstName" />
        </div>
        <div>
            <label class="label">Naam: </label>
        <InputText class="input" @bind-Value="@model.Name" />
        </div>
        <div class="control">
            <label class="label">Email: </label>
        <InputText class="input" @bind-Value="@model.Email" />
        </div>
        <div class="control">
            <label class="label">Gms-nummer: </label>
        <InputText class="input" @bind-Value="@model.PhoneNumber" />
        </div> 
        @if (model.Opleiding is not null)
        {
@*        <div>
                <label>Opleiding</label>
                <InputText class="input" @bind-Value="@model.Opleiding"/>
        </div>*@
        }
        else
        {
        <div>
            <label>Bedrijf</label>
            <InputText class="input" @bind-Value="@model.Bedrijf" />
        </div>
        
        }
    @if(model.contactPersoon is not null)
        {
        <div>
                    <p class="label">Contcatpersoon: </p>
                    <div>
                            <label class="label">Email Contactpersoon</label>
                            <InputText class="input" readonly type="@model.contactPersoon.Email" />
                    </div>
                    <div>
                        <label class="label">Gsm-nummer Contactpersoon</label>
                        <InputText class="input" readonly type="@model.contactPersoon.PhoneNumber"/>
                    </div> 
        </div>
        }
        <button class="button mt-2" type="submit" @onclick="@EditKlant">Klant wijzigen</button>
</EditForm>