<EditForm Model="@model">
    <FluentValidationValidator />
    <ValidationSummary />
        <div>
            <label class="label">Voornaam: </label>
            <InputText class="input" @bind-Value="@klant.FirstName" />
        </div>
        <div>
            <label class="label">Naam: </label>
        <InputText class="input" @bind-Value="@klant.Name" />
        </div>
        <div class="control">
            <label class="label">Email: </label>
            <InputText class="input" @bind-Value="@klant.Email" />
        </div>
        <div class="control">
            <label class="label">Gms-nummer: </label>
            <InputText class="input" @bind-Value="@klant.PhoneNumber" />
        </div>
   @* <div class="field">
        <div class="control">
            <label class="checkbox">
                Opleding
            </label>
            <InputTextArea @bind-Value="model.Opleiding"/>
        </div>
    </div>*@
</EditForm>