
<div>
    <h3>Algemeen</h3>
    <br />
    <div>
        <p>Naam: @Virtualmachine.Name</p>
        <p>Operatingsystem: @Virtualmachine.OperatingSystem</p>
        <p>Project: @Virtualmachine.Project.Name</p>
        <p>Klant: @Virtualmachine</p>
        <p>Conection: @Virtualmachine.FysiekeServer.ServerAddress</p>
        <p>Mode: @Virtualmachine.Mode</p>
    </div>
    <div>
        <a @onclick="NavigateToKlant" >Naar Klant</a>
    </div>
</div>



